body {
  margin: 0;
  font-family: sans-serif;
}
#scrolly {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.scroll-text {
  width: 35%;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.scroll-graphic {
  width: 65%;
  position: relative;
}
.step {
  margin-bottom: 200px;
  font-size: 1.25em;
}
.bar {
  fill: steelblue;
}
.bar.booker {
  fill: tomato;
}
.label {
  fill: black;
  font-size: 14px;
}

  